{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="/">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Суворов Роман</h1>
            </div>
            </div>
        </section>
    </a>
    <div>
        <div class="photo">
            <img src="static/img/face.png" alt="Фото">
        </div>
        <div class="content-left content ">
            Приветствую! Я студент РГПУ имени Герцена обучаюсь на направлении Информатика вычислительная техника Технологии разработки програмного обеспечения на данном сайте собраны мои работы по направлениям: програмирование, базы данных, компьютерный практикум<br>
        </div>
    </div>
</div>

<footer class="text-body-secondary py-5">
    <div class="container">
      <h2>
          <p class="float-end mb-1">
              <a href="#" >Вверх</a>
          </p>
      </h2>
    </div>
  </footer>  
{% endblock %}