{% extends 'base.html' %}

{% block content %}
<main>
    <a href="{{ url_for('index', lang=get_locale()) }}">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{ _('Программирование') }}</h1>
            </div>
            </div>
        </section>
    </a>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
            
            <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="no-decoration">
                <div class="col">
                    <div class="card">
                        <div class="svg-container">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" text-anchor="middle" dominant-baseline="middle" dy=".3em">{{ _('ЛР') }}1</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>

            <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="no-decoration">
                <div class="col">
                    <div class="card">
                        <div class="svg-container">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" text-anchor="middle" dominant-baseline="middle" dy=".3em">{{ _('ЛР') }}2</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>

</main>

<footer class="text-body-secondary py-5">
    <div class="container">
      <h2>
          <p class="float-end mb-1">
              <a href="#" >{{ _('Вверх') }}</a>
          </p>
      </h2>
    </div>
  </footer>  
{% endblock %}